<!DOCTYPE html>
<html>
  <head><title>K15 </title></head>
  <body>

    {% if correct %}
    <h2> Welcome, {{name}}</h2>
    <!-- name would be username-->
    <form action="/out" >
      <input type="submit" value="logout" name="logout">
    </form>
    
    {% else %}
    <h2> Error</h2>
    {{ name}}
    <!-- name would be error name-->
    <form action="/out" >
      <input type="submit" value="return" name="return">
    </form>
    {% endif %}
    
    
    

  </body>
  
</html>
